.multi-container,
.container {
  margin: 100px 0;
}

.card {
  margin: 40px auto;
  width: 90%;
  max-width: 400px;
  background-color: #e7e7de;
}

.card-body {
  color: #0f3057;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.custom-btn {
  margin: 10px;
}

@media (min-width: 649px) {
  .custom-btn {
    width: 40%;
  }
}

@media (min-width: 768px) {
  .multi-container {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
    /* grid-gap: 20px; */
    margin: 100px 0;
  }

  .card {
    margin: 40px auto;
  }
}
