.css {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.css__photo__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.css__photo {
  position: relative;
  width: 100%;
  max-width: 550px;
  padding: 2px;
}

.css__screenshot {
  object-fit: contain;
  display: block;
  width: 100%;
  border: solid 2px rgb(0, 0, 0);
  position: relative;
}

.css__photo__overlay {
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.801);
  opacity: 0;
}

.css__photo__overlay:hover {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.css__photo__overlay > h3 {
  font-size: 16px;
  padding: 3px;
  margin-left: 1px;
}

.css__photo__overlay > p {
  font-size: 15px;
  padding: 4px;
}

@media (min-width: 768px) {
  .css__photo__overlay > h3 {
    font-size: 20px;
  }

  .css__photo__overlay > p {
    font-size: 18px;
  }
}

@media (min-width: 940px) {
  .css {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .css__photo {
    position: relative;
    width: 90%;
    padding: 2px;
  }

  .css__photo__container {
    align-items: center;
    width: 50%;
  }
}
